$dark-grey: #262626;
$grey: #9F9F9F;
$dark-blue: #1F4C69;
$light-blue: #1272AC;
$icons: #71DFFE;
$button: #45B9E3;
$light-blue-gradient: linear-gradient(166.35deg, $dark-blue 9.13%, $light-blue 132.87%);
$footer-gradient: linear-gradient(166.35deg, #294761 9.13%, #306BA1 132.87%);
$bg-gradient: linear-gradient(166.35deg, #28455A 9.13%, #2B5F8A 132.87%);
