@import "../utils/media";

.header,
.footer {
    width: 100%;
    background-image: $light-blue-gradient;

    @include desktop {
        height: 100px;
        position: relative;
    }
}

@supports (display: -webkit-flex) or (display: -moz-flex) or (display: flex) {

    .header,
    .footer {
        @include desktop {
            display: flex;
            align-items: center;
            position: static;
        }
    }
}


    .footer {
        background-image: $footer-gradient;
    }

    .header__logo {
        margin-bottom: 15px;

        @include desktop {
            margin-bottom: 0;
        }
    }

    .header__main,
    .footer__main {
        width: 100%;
    }

    .header__main-inner,
    .footer__main-inner {
        padding: 20px 0;
    }

@supports (display: -webkit-flex) or (display: -moz-flex) or (display: flex) {

    .header__main-inner,
    .footer__main-inner {

        @include desktop {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}


    .footer__main-inner {

        a {
            text-decoration: underline;
        }
    }

@supports (display: -webkit-flex) or (display: -moz-flex) or (display: flex) {

    .footer__main-inner {
        justify-content: flex-end;
    }
}