@import "../utils/media";

.nav-menu {
    position: absolute;
    top: 50%;
    transform: translateX(100%) translateY(-50%);
}

@supports (display: -webkit-flex) or (display: -moz-flex) or (display: flex) {

    .nav-menu {
        @include desktop {
            position: static;
            transform: translateX(0) translateY(0);
        }
    }
}

@supports (display: -webkit-flex) or (display: -moz-flex) or (display: flex) {

    .nav-menu__list {
        @include desktop {
            display: flex;
        }
    }
}

.nav-menu__item {
    float: left;
}

@supports (display: -webkit-flex) or (display: -moz-flex) or (display: flex) {
    .nav-menu__item {
        float: none;
    }
}

.nav-menu__item:not(:last-child) {
    margin-right: 50px;
    margin-bottom: 10px;

    @include desktop {
        margin-bottom: 0;
    }
}
